<!--REG NO. 2022/DCSE/029/SS-->
body {
    background-color: black;
}
.container {
    display:grid;
    grid-template-columns: auto auto;
    

}
.logo {
    border-radius: 10px;
    position: relative;
    margin-top: 30%;
    margin-right: -100px;
    margin-left: 100px;
}
.name {
    text-decoration: solid;
    text-align: right;
    text-size-adjust:600px;
    left: 3%;
    position: relative;
    margin-top: 30%;
    margin-right: 500px;
    margin-left: 10px;
    color:white;
}
.top {
    display:grid;
    grid-template-columns: auto auto;
    

}